*
{
    margin: 0;
    padding: 0;
}





html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: black; /* Or whatever bg you want */
}

#app, canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}


#fullscreen-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: white;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

#fullscreen-btn:hover {
  opacity: 1;
}






.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
@media screen and (orientation: portrait) {
  body::before {
    content: "Please rotate your device to landscape.";
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
}
